<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1072271376964-038sp9dhfv2b7iv8u09spimd7k0e7vmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072271376964-038sp9dhfv2b7iv8u09spimd7k0e7vmt</string>
	<key>API_KEY</key>
	<string>AIzaSyAIRR13p7gKoN-_L2xsYGPVM5ATj__NVQc</string>
	<key>GCM_SENDER_ID</key>
	<string>1072271376964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.framgia.wsm</string>
	<key>PROJECT_ID</key>
	<string>wsm-mobile-8937c</string>
	<key>STORAGE_BUCKET</key>
	<string>wsm-mobile-8937c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072271376964:ios:425fedd631defade</string>
	<key>DATABASE_URL</key>
	<string>https://wsm-mobile-8937c.firebaseio.com</string>
</dict>
</plist>